*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../asset/img/6364981.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.cont-all{
    width: 100%;
    height: 100vh;
}
.container {
    width: 500px;
    height: 400px;
    border-radius: 16px;
    display: block;
    margin: 0px auto;
    padding-top: 100px;
}

.cont-h1 {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 40px 0px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px 16px 0px 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301) inset;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.cont-h1 h1 {
    display: block;
    margin: auto;
    font-family: poppins-bold;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.623);
}

form {
    display: block;
    width: 100%;
    height: 67%;
    border-radius: 0px 0px 16px 16px;
    background-color: rgb(255, 255, 255);
}

form h1{
    font-family: poppins-bold;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

#form-sign{
    display: none;
    padding-bottom: 30px;
    animation-name: show-sign-form;
    animation-duration: 0.9s;
    transition: all 0.8s;
}

#form-log{
    display: block;
    animation-name: show-log-form;
    animation-duration: 0.9s;
    transition: all 0.8s;
}

@keyframes show-sign-form {
    from{
        transform: rotateY(90deg);
        transform: rotateX(90deg);
    }
    to{
        transform: rotateY(0deg);
        transform: rotateX(0deg);
    }
}
@keyframes show-log-form {
    from{
        transform: rotateY(90deg) perspective(500px);
    }
    to{
        transform: rotateY(0deg) perspective(500px);
    }
}

.cont-in {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 95%;
    margin: auto;
    padding-top: 50px;
}

.cont-in label {
    display: block;
    font-family: poppins-medium;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.589);
    margin-bottom: 5px;
}


.cont-in input {
    display: block;
    outline: none;
    padding: 3px;
    border: 1px solid rgba(31, 31, 104, 0.253);
    width: 95%;
    height: 30px;
    border-radius: 3px;
    font-family: poppins-regular;
}

.cont-btn {
    margin: 25px auto;
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.cont-btn a {
    width: 90%;
    border-radius: 3px;
    padding: 0px 2px;
    margin: auto;
    text-decoration: none;
    font-family: poppins-regular;
    text-align: center;
    color: rgb(42, 89, 160);
}

.cont-btn a:hover {
    background-color: rgb(42, 89, 160);
    transition: all 0.4s;
    color: #fff;
}

.cont-btn button {
    width: 80%;
    height: 100%;
    margin: auto;
    font-family: poppins-regular;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    border-radius: 3px;
    border: 1px solid rgb(62, 131, 68);
    background-color: rgb(46, 139, 77);
}

.cont-btn button:hover {
    cursor: pointer;
    transition: all 0.2s;
    background-color: rgb(50, 151, 84);
}

.cont-btn-generator {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 90%;
    margin: 10px auto;
}

.cont-btn-generator a {
    width: 60%;
    background-color: rgb(48, 101, 182);
    border: 1px solid rgb(43, 84, 161);
    border-radius: 3px;
    padding: 0px 2px;
    margin: auto;
    text-decoration: none;
    font-family: poppins-regular;
    text-align: center;
    color: #fff;
}

.cont-btn-generator .show-key-g {
    display: flex;
    position: relative;
}

.cont-btn-generator .show-key-g .key-g {
    border: 1px solid rgb(45, 48, 59);
    width: 80%;
    text-align: center;
    font-family: poppins-regular;
    background-color: #fff;
    border-radius: 3px 0px 0px 3px;
}

.cont-btn-generator .show-key-g .icon-copy {
    padding: 4px;
    background-color: rgb(45, 48, 59);
    color: #fff;
    border-radius: 0px 3px 3px 0px;
}

.cont-btn-generator .show-key-g .icon-check {
    padding: 4px;
    background-color: rgb(45, 48, 59);
    color: #fff;
    border-radius: 0px 3px 3px 0px;
}

.cont-btn-generator .show-key-g .icon-copy:hover{
    cursor: pointer;
}

.cont-btn-generator .show-key-g .icon-check:hover{
    cursor: pointer;
}
